*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.container{
    background-color: rgba(117, 211, 147, 0.799);
    border:solid 6px black;
    text-align: center;
    gap:10px;
}
.container{
    display:grid;
    grid-template-areas:
    "Header1 Header1 Header1"
    "Header2 Header2 Header2"
    "Header3 Header3 Header3"
}
.container > div{
    background-color: aliceblue;
    border: solid red 5px;
    height:100px;
    gap:10px;
}
.item1{grid-area:Header1}
.item2{grid-area:Header2}
.item3{grid-area:Header3}

.navication{
    display:flex;
}

/* .main{
    height:50%;
    width:100%;
    background-color: antiquewhite; 
    display:flex;
    flex-direction:column;
}
.left{
     background-color: chocolate; 
    height:50%;
    width:100%;
}
.right{
     background-color: rgb(215, 201, 71); 
    height:50%;
    width:100%;
}
.left{
    font-size:15px;
    padding:4vw 9vw;
    padding-top:4%;
     line-height:4vh; 
}
p{
    font-size:10px;
     line-height: 3.5vh; 
    padding:3vh 0vw 4vh 0.40vw;
    line-height:2vh;
    
}
button{
    background-color:coral ;
    color:black;
    padding:4px 4px 4px 4px;
    font-weight: 900;
    font-size:1vh;
    font-family:Arial, Helvetica, sans-serif;
    border:2px solid coral;
}
button:hover{
      transition-duration: 1s;
       background-color:orange;
       border: solid 1vh orange;
}
.right img{
    height:50%;
    width:100%;
    object-fit: cover;

} */