*{
 padding:0%;
 margin:0%;
 box-sizing: border-box;
}
#box{
    width:200px;
    height:200px;
    background-color:purple;
    color:white;
    display:block;
    display:flex;
    justify-content:center;
    align-items:center;
}
#box{
    transform:rotate(45deg);
    transform:3d()
}