html{
    font-family:'Times New Roman', Times, serif;
    background-color:azure;
}

#outer{
    text-size-adjust:20px;
    text-align:center;
}
#inner{
    text-size-adjust:10px;
    line-height:30px;
}